*{
  /* background-image: image('C:\Users\user\OneDrive\Pictures\Pokemon-Pokeballs-on-Pokedex-background.avif'); */
  /* background: aqua; */
  /*url("https://images.hdqwalls.com/wallpapers/pokedex-realistic.jpg");*/
}

h1{
  text-align: center;
  /* color: orangered; */
}

h3{
 margin: 20px;
 /* color: orangered; */
 /* padding: 2px; */
 display: inline-block;
}

img{
  margin: 20px;
  padding: 30px;
  height: 120px;
  width: min-content;
  display: inline-block;
}

form{
  text-align: center;
  margin: auto;
  /* color: orangered; */
}

p{
  /* color: orangered; */
  margin: 20px;
  display: inline-block;
}

.blank{
  margin: 0px;
  padding: 0px;
}

.iter{
  margin: 4px;
}